@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'myriadpro';
  src: url(/fonts/myriadpro-regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'myriadpro';
  src: url(/fonts/myriadpro-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'myriadpro';
  src: url(/fonts/myriadpro-light.otf);
  font-weight: 300;
}

body {
  margin: 0;
  font-family: myriadpro_bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* undo tailwind styles */
  color: revert;
  text-decoration: revert;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #999999 #494b52;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #494b52;
}

::-webkit-scrollbar-thumb {
  background-color: #ffda84;
  border-radius: 10px;
  border: 3px solid #494b52;
}

.image-marquee {
  animation: scaleUpLeft 40s linear infinite;
}

@keyframes scaleUpLeft {
  0% {
    translate: 0px 0px;
  }

  100% {
    translate: -50% -50%;
  }
}